
#include("htmlheader.vm")
<body>
<div class="head">
            <h2 class="center">选择课程</h2>
            <a href="/user/" class="floatl back"><span class="backSpan"><em>&nbsp;</em></span>课程</a>
</div>

<div class="clearfix listMenu ">
		<div class="headNav floatl" id="selectLottery"><cite>上海公务员</cite><em class="headArr"></em></div>
    <div class="headNav floatno" id="selectDate"><cite>VIP系列</cite><em class="headArr"></em></div>
    <div class="headNav floatr" id="selectStatus"><cite>选择班级</cite><em class="headArr"></em></div>
	    <!--课程-->
    <div class="layer layercz layerScale" style="display:none;" id="lotteryList">
        <div class="layer_arr"></div>
        <div class="layer_box">
            <h3 class="mb8">选择类型</h3>
            <div class="clearfix lians">
				<a href="#" class="clickBtn clickBtnOn" name="all" ptype="all">全部课程</a>
				<a href="#" class="clickBtn " name="dc" ptype="dc">上海公务员</a>
				<a href="#" class="clickBtn " name="jc" ptype="jc">公安文职</a>
				<a href="#" class="clickBtn " name="lc" ptype="lc">警察学员</a>
				<a href="#" class="clickBtn " name="zc" ptype="zc">教师资格证</a>
				<a href="#" class="clickBtn " name="fc" ptype="fc">公安警察</a>
				<a href="#" class="clickBtn " name="tc" ptype="tc">事业单位</a>
				<a href="#" class="clickBtn " name="fl" ptype="fl">国家公务员</a>
			            </div>
        </div>
    </div>
    <!--系列-->
    <div class="layer layerdate layerScale" style="display:none;" id="dateList">
        <div class="layer_arr"></div>
        <div class="layer_box">
            <h3 class="mb8">选择系列</h3>
            <div class="clearfix lians">
		        <a href="#" class="clickBtn clickBtnOn">套餐</a>
		        <a href="#"class="clickBtn ">基础强化</a>
		        <a href="#"class="clickBtn ">技巧精讲</a>
		        <a href="#" class="clickBtn ">精品集训</a>
		        <a href="#" class="clickBtn ">VIP</a>
		        <a href="#" class="clickBtn ">协议班</a>
		        <a href="#" class="clickBtn ">冲刺预测</a>
	        </div>
        </div>
    </div>
	    <!--班级-->
    <div class="layer layerzt layerScale" style="display:none;" id="statusList">
        <div class="layer_arr"></div>
        <div class="layer_box">
            <h3 class="mb8">选择班级类型</h3>
            <div class="clearfix lians">
		        <a href="#" class="clickBtn clickBtnOn" name="all" ptype="all">全部班级</a>
		        <a href="#" class="clickBtn " name="on" ptype="on">奖学金一班</a>
		        <a href="#" class="clickBtn " name="fail" ptype="fail">奖学金二班</a>
		        <a href="#" class="clickBtn " name="deal" ptype="deal">奖学金三班</a>
		        <a href="#" class="clickBtn " name="prize" ptype="prize">奖学金四班</a>
		        <a href="#" class="clickBtn " name="prize" ptype="prize">精英一班</a>
		        <a href="#" class="clickBtn " name="prize" ptype="prize">精英二班</a>
		        <a href="#" class="clickBtn " name="prize" ptype="prize">精英三班</a>
		        <a href="#" class="clickBtn " name="prize" ptype="prize">精英四班</a>
		        <a href="#" class="clickBtn " name="prize" ptype="prize">冲刺一班</a>
		        <a href="#" class="clickBtn " name="prize" ptype="prize">冲刺二班</a>
		        <a href="#" class="clickBtn " name="prize" ptype="prize">冲刺三班</a>
		        <a href="#" class="clickBtn " name="prize" ptype="prize">冲刺四班</a>
	        </div>
        </div>
    </div>
    </div><!--listMenu over-->
<div class="padlr8 font12">
	<ul class="bdbox relList betListBox ">
		    </ul>
</div>
<!-- jQuery 2.0.2 -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript">

</script>
</body>
#include("htmlfooter.vm")
